body{margin: 10%;}

  .container {
        display: flex;
        align-items: center;
    }


/* Styling for the image container*/
.container img{
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 100px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

/* Styling for the main content*/
.maincont{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 100px;
  padding: 10px 10px 10px 10px;
}

/* Styling for the image */
.maincont img{

  float: left;
  padding: 20px 20px 10px 10px;
} 




